@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #89B0AE; /* #e4e4e4;*/
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 360px;
  background-color: #FAF9F9; /* white; */
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 33px;
}

.form-titleh2 {
  margin: 33px 0 5px 0;
  padding: 0.5px;
  font-size: 17px;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.text-color {

  color: #555B6E;
}

.form-titleh1 {
  margin: 10px 0 10px 0;
  padding: 0.5px;
  font-size: 18.5px;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.form-checkbox-label {

  margin: 10px 0 10px 0;
  
  color: #555B6E;
  font-size: 17px;
  font-weight: bold;
  /* line-height: 1.1;*/
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;

}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  
  background-color:  #7e9c9b;   /* #3f89f8 */
  
  color: white;
  text-align: center;

  margin: 10px 0 45px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}


.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

.form-button {
  margin: 55px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

.form-checkbox {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.12em;
  height: 1.12em;
  border: 0.12em solid currentColor;
  border-radius: 0.12em;
  transform: translateY(-0.075em);
  font-family: "Roboto", sans-serif;
  display: grid;
  place-content: center;

}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color:/* #555B6E;*/ #7e9c9b; /*#89B0AE;*/
 /* transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);*/
}



input[type="checkbox"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type="checkbox"]:focus {
  /* outline: max(1px, 0.15em) solid currentColor;*/
  /* outline-offset: max(1px, 0.15em);*/
  outline-color: /* #555B6E*/ #7e9c9b ;
}



input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-radio-button {
  margin: 55px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
  

}

.form-text {
  font-weight: bold;
  color: #555B6E;
  
}

input[type="Radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color:/* #555B6E;*/ #7e9c9b; /*#89B0AE;*/
 /* transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);*/
}

input[type="Radio"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type="Radio"]:focus {
  /* outline: max(1px, 0.15em) solid currentColor;*/
  /* outline-offset: max(1px, 0.15em);*/
  outline-color: /* #555B6E*/ #7e9c9b ;
}



input[type="Radio"]:checked::before {
  transform: scale(1);
}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  font-family: "Roboto", sans-serif;
  color: #555B6E;
  box-shadow: inset 1em 1em var(--form-control-color);
  font: bold;
  line-height: 1.1;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  transform: translateY(-0.075em);
  margin-top: 1em;
  appearance: none;
  
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
 
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #7e9c9b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
  
}



.form-field-nimi {
    margin: 26px 0 15px 0;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
  
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button {
  background: #7e9c9b;/* #807e7e;*/
  color: white;
  cursor: pointer;
  
}

button:disabled {
  cursor: default;
}
